<h1>New Drink</h1>
<%= from_with model: @drink do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>